.ipynb_checkpoints
BRA.csv
all_bovespa.csv
df_all_bovespa.csv
COTAHIST_A2009.TXT
COTAHIST_A2010.TXT
COTAHIST_A2011.TXT
COTAHIST_A2012.TXT
COTAHIST_A2013.TXT
COTAHIST_A2014.TXT
COTAHIST_A2015.TXT
COTAHIST_A2016.TXT
COTAHIST_A2017.TXT
COTAHIST_A2018.TXT
COTAHIST_A2019.TXT
COTAHIST_A2020.TXT
SeriesHistoricas_Layout.pdf
Telco-Customer-Churn.csv
cursos-prouni.xls
houses_to_rent.csv